<style>
body {

  background-color: lightblue;
     }
  

h1 {
  color: blue;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  }

div.blueBG {
        color: white;
        text-align: center;
        background-color: blue;
        padding: 5px;
        font-family: monaco;
        font-size: 50px;
        border-radius: 25px;
}

h2 {
   color: white;
   text-align: left;
   font-size: 25px;
  }
   

h3 {
   color: black;
   font-family: Lucida handwriting;
   text-align: center;
   font-size: 20px;
}


li {
   font-size: 20PX;
   font-family: monaco;
}
   
  
p {
  font-family: arial;
  font-size: 20px;
  margin-left: 60px;
}

img {
    float: left;
    clear: float;
    }
    
a {
  color: white;
  text-align: center;
  font-size: 30px;
  }

</style>