<style>
body {
    background-color: lightblue;
  }

header {
     background-color: white;
}

h1 {
  color: blue;
  text-align: center;
  background-color: white;
  border-radius: 15px;
}

.whole {
       width: 1500px;
       background-color: lightblue;
}

.blueBG {
    display: inline-block;
    color: white;
    background-color: blue;
    font-family: Monaco, monospace;
    text-align: center;
    border-radius: 25px;
    width: 340px; 
    height: 150px; 
    margin-right: 20px;
    padding: 20px;
    margin: 5px;
    text-align: center;
    float:left;
    
}


h3:hover {
   color: white;
   font-family: Lucida handwriting;
   text-align: center;
   font-size: 25px;
   background-color: purple;
   text-decoration: none;
   background-clip: content-box;
   width: 1000px;
}

  
p {
  font-family: arial;
  font-size: 20px;
  text-align: left;
 
}

img {
    float: left;
    clear: float;
    margin-right: 20px;
    background-color: lightblue;
    }
    
a:hover {
  color: white;
  background-color: blue;
  text-align: center;
  font-size: 25px;
  text-decoration:none;
  border-radius: 20px;
  width: 900px;
  }

a:link {
   text-decoration: none;
   }

[class*="sprite-"] {
    width: 128px;
    height: 128px;
    display: inline;
    background-image: url('socmedspr.png');
    background-repeat: no-repeat;
   
}
.socmed-1 {
   background-position: -36px -27px;
}
.socmed-2 {
   background-position: -236px -27px;
}

footer {
  text-align: center;
}

ul li {
  display: inline-block;
}

</style>
</style>
