<style>
body {
    background-color: lightblue;
  }

header {
     background-color: white;
}

h1 {
  color: blue;
  text-align: center;
  background-color: white;
  border-radius: 15px;
}

.whole {
       width: 1500px;
       background-color: lightblue;
}

#blueBG { 
           float: left;
           color: white;
           background-color: blue;
           font-family: monaco;
           text-align: center;
           border-radius: 25px;
           width: 340px;
           height: 300px;
           margin-right: 20px;
           padding: 20px;

}

#bluebg { 
           display: inline-block;
           float: left;
           color: white;
           background-color: blue;
           font-family: monaco;
           text-align: center;
           border-radius: 25px;
           width: 340px;
           height: 300px;
           margin-right: 20px;
           padding: 20px;
}

#blue {
           display: inline-block;
           float: left;
           color: white;
           background-color: blue;
           font-family: monaco;
           text-align: center;
           border-radius: 25px;
           width: 340px;
           height: 300px;
           margin-right: 20px;
           padding: 20px;
}


h3:hover {
   color: white;
   font-family: Lucida handwriting;
   text-align: center;
   font-size: 25px;
   background-color: purple;
}

   
  
p {
  font-family: arial;
  font-size: 20px;
  text-align: left;
 
}

img {
    float: left;
    clear: float;
    margin-right: 20px;
    background-color: lightblue;
    }
    
a:hover {
  color: white;
  background-color: blue;
  text-align: center;
  font-size: 25px;
  text-decoration:none;
  }

a:link {
   text-decoration: none;
   }

div.content: active {
 background-color: white;
 }
 
</style>
