    <style>
        body {
            font-family: papyrus;
            margin: 0;
            padding: 20px;
            background-color: darkblue;
        }
        header {
            background-color: #0077be;;
            color: lightyellow;
            text-align: center;
        }
        section {
            margin: 10px;
            border: dotted;
            padding: 5px;
            color:black;
            font-family: monaco;
            font-size: 20px;
        }

        p {
            color:black;
        }
        h2 {
            color: green;
            text-decoration-line: underline;
            font-family:monaco;
            text-align: center;        }
        
        footer {
            margin-top: 20px;
            text-align: center;
            font-size: 0.8em;
            color: brown;
        }
        a:link {
            color: gray;
            text-align: center;
        }
        a:hover {
            color: white;
            font-size: 25px;
            background-color: pink;
        }
        .ex{
            background-color: lightblue;
            border-radius:10px;
            padding:5px;
            margin:5px;
            display:inline-block;
            float:left;
            font-family: monaco;
            font-size: 20px;
            width:300px;
            height: 280px;
            text-align:center;
        }
       img {
           text-align: center;
           }
       nav {
           text-align: center;
       }
       ul li{
        display: inline;
        padding: 20px;
        text-decoration:none;
       }
     
       article {
       color: white;
       background-clip: content-box;
       }
       
       
    </style>
