<style>
body {
  font-family: sans-serif;
}
#quiz-container
{
  width: 900px;
  margin: 15px ;
  border-radius: 15px;
}

#nextButton{
  color: purple ;
  font-family: lucida ;
  font-size: 15px;
}

#prevButton{
  color:purple ;
  font-family: lucida ;
  font-size: 15px;
}


#submitButton{
  color:purple ;
  font-family: lucida ;
  font-size: 15px;
}

#questions {
  margin: 15px;
  background-color: lightblue;
  border: 1px solid blue;
  padding: 10px;
  border-radius: 15px;
  
}

.result {
  margin-top: 20px;
  font-weight: bold;
}

.correct {
  color: green;
  font-weight: bold;
  background-color: #d4edda;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.incorrect {
  color: red;
  font-weight: bold;
  background-color: #f8d7da;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.option-container {
  margin: 5px 0;
}


h1{
  text-align: center;
  background-color: lightgreen;
  font-family: Papyrus;
  text-align: center;
}


#questions .question p {
  font-size: 20px; 
  font-weight: bold; 
  color: blue; 
  margin-bottom: 20px; 
  text-decoration-line: underline;
}

#questions label {
  font-size: 18px; 
  color: black; 
  margin-bottom: 15px;
}


</style>